.display-panel {
    margin: 0;
    padding: 0;
    margin-bottom: 3rem;
}

.display-panel li {
    padding: 0.5rem;
    background: #eee;
}

.messages {
    padding: 1rem;
    background-color: #eee;
}

.header {
    padding: 1rem;
    align-self: center;
}

.timestamp {
    color: rgba(48, 63, 58, 0.486);
    text-align: end;
}

form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0.25rem;
}

form input {
    border: 0;
    padding: 0.5rem;
    width: 100%;
    outline: 0;
    margin-right: 0.5rem;
    border-radius: 0.25rem;
    background: #ccc;
}

form button {
    width: 6rem;
    background-color: #1b8c00;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
    text-transform: uppercase;
}
